@import "./mobile-styles.scss";

@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("../fonts/proximanovacond_regular.ttf") format("truetype");
}
// .content {
//   margin: 0 auto;
//   padding: 0;
//   width: 1920px;
//   height: 6096px;
//   background-color: #460ca3;
//   display: flex;
//   justify-content: center;
// }
body {
  margin: 0;
}
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1250px;
  height: 6095px;
}
.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1250px;
  height: 85px;
  gap: 144px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.logo {
  width: 125px;
  height: 25px;
}
.header__logo {
  background-image: url("../img/logo.svg");
}
.navigate {
  display: flex;
  // align-self: center;
  // padding: 0px;
  gap: 31.5px;
  // width: 688px;
  list-style: none;
  height: 20px;
  justify-self: flex-end;
}
.navigate__link {
  text-decoration: none;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  cursor: pointer;
}
.navigate__link:hover {
  color: #a30c33;
}
.navigate__link--active {
  color: #a30c33;
  display: flex;
  flex-direction: column;
  height: 0;
  justify-content: space-between;
  &::after {
    content: "___";
    margin-top: 10px;
  }
}
.banner {
  display: flex;
  width: 1250px;
  height: 600px;
  background-image: url("../img/banner.svg");
}
.banner__content-place {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 709px;
  height: 284px;
  left: 72px;
  top: 159px;
}
.banner-content__text {
  margin: 0;
  padding: 0;
  // position: relative;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 56px;
  color: #444444;
}
.banner-content__button-place {
  align-items: baseline;
  padding: 0px;
  margin-bottom: -15px;
  width: 293px;
  height: 56px;
}
.banner-content__button-place__button {
  padding: 18px 28px;
  text-decoration: none;
  width: 110px;
  height: 56px;
  background: #b01736;
  border-radius: 8px;
  cursor: pointer;
  &::before {
    content: "На сайт";
  }
}
.banner-content__button-place__button:nth-child(1) {
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  border: none;
  color: #ffffff;
}
.section-about {
  width: 1110px;
  height: 350px;
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section-about {
  margin-top: 100px;
}
.section-about__content {
  margin: 0;
  text-align: center;
  width: 890px;
  height: 152px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #444444;
}
.section-about__first-word {
  color: #b01736;
}
.section-numbers {
  width: 889px;
  height: 287px;
  display: grid;
  grid-template-columns: repeat(4, 222px);
  grid-template-rows: repeat(2, 143px);
}
.section-number__30let{
  margin-left: -10px;
}
.section-numbers__blok {
  width: 243px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-numbers__blok:nth-child(1) {
  grid-column: 1/2;
}
.section-numbers__blok:nth-child(2) {
  grid-column: 3/4;
  align-items: flex-start;
  margin-left: -13px;
}
.section-numbers__blok:nth-child(3) {
  grid-column: 4/5;
  margin-left: 115px;
}
.section-numbers__blok:nth-child(4) {
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: flex-end;
  // align-items: center;
  margin-top: 14px;
  margin-right: 53px;
}
.section-numbers__blok:nth-child(5) {
  grid-column: 3/5;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  margin-right: 17px;
  margin-top: 11px;
}

.main__section-numbers {
  margin-top: 100px;
}
.section-number__first-value {
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 80%;
  color: #a30c33;
  opacity: 0.95;
}
.section-number__second-value {
  width: 81px;
  height: 27px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #444444;
}
.section-map {
  position: relative;
  width: 1250px;
  height: 775px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main__section-map {
  margin-top: 100px;
}
.section-navigate {
  @extend .header;
  justify-content: space-evenly;
  background: #ffffff;
  border: none;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
}
.map__navigate {
  display: flex;
  // align-self: center;
  // padding: 0px;
  gap: 31.5px;
  // width: 688px;
  list-style: none;
  height: 20px;
  justify-self: flex-end;
}
.office-softline {
  display: flex;
  width: 177px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.office-softline__text {
  width: 145px;
  height: 24px;

  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  color: #444444;
}
.office__inner {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
  gap: 10px;
  position: absolute;
  width: 1250px;
  height: 272px;
  left: 0px;
  top: 100px;
  background: #ffffffd8;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
  z-index: 1;
}
.hide {
  display: none;
}
.office-softline__icon {
  display: block;
  width: 20px;
  height: 18.02px;
  background-image: url("../img/SoftlineBtn1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.office-softline__icon--active {
  transform: scaleY(-1);
}

.office__inner-list {
  padding: 0;
  width: 1113px;
  height: 212px;
  display: flex;
  justify-content: space-between;
  // grid-template-columns: repeat(8, fit-content);
  // grid-template-rows: repeat(7, fit-content);
  list-style: none;
}
.cities-list__item {
  height: 20px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
}
.cities-list__item-inner {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
}
.map {
  position: relative;
  width: 1190px;
  height: 604px;
  padding-left: 10px;
  // align-self: center;
  background-image: url("../img/map/map.svg");
  background-repeat: no-repeat;
}
.map__city-circle {
  font-size: 2em;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #444444;
  margin: -2px 0px;
}
.map__city {
  position: absolute;
  display: none;
}
.map__city-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  text-align: right;
  color: #444444;
}
.map__city:nth-child(1) {
  left: 938px;
  top: 578px;
}
.map__city:nth-child(2) {
  left: 8px;
  top: 123px;
}
.map__city:nth-child(3) {
  left: 150px;
  top: 199px;
}
.map__city:nth-child(4) {
  left: 81px;
  top: 362px;
}
.map__city:nth-child(5) {
  left: 245px;
  top: 337px;
}
.map__city:nth-child(6) {
  left: 289px;
  top: 364px;
}
.map__city:nth-child(7) {
  left: 307px;
  top: 290px;
}
.map__city:nth-child(8) {
  left: 446px;
  top: 475px;
}
.map__city:nth-child(9) {
  left: 564px;
  top: 458px;
}
.map__city:nth-child(10) {
  left: 956px;
  top: 497px;
}
.map__city:nth-child(11) {
  left: 670px;
  top: 490px;
}
.map__city:nth-child(12) {
  left: 603px;
  top: 457px;
}
.map__city:nth-child(13) {
  left: 474px;
  top: 455px;
}
.map__city:nth-child(14) {
  left: 393px;
  top: 365px;
}
.map__city:nth-child(15) {
  left: 418px;
  top: 314px;
}
.map__city:nth-child(16) {
  left: 365px;
  top: 304px;
}
.map__city:nth-child(17) {
  left: 288px;
  top: 331px;
}
.map__city:nth-child(18) {
  left: 194px;
  top: 367px;
}
.map__city:nth-child(19) {
  left: 161px;
  top: 263px;
}
.map__city:nth-child(20) {
  left: 170px;
  top: 309px;
}
.map__city:nth-child(21) {
  left: 234px;
  top: 301px;
}
.map__city:nth-child(22) {
  left: 25px;
  top: 381px;
}
.map__city:nth-child(23) {
  left: 40px;
  top: 323px;
}
.map__city:nth-child(24) {
  left: 66px;
  top: 278px;
}
.map__city:nth-child(25) {
  left: 72px;
  top: 249px;
}
.map__city:nth-child(26) {
  left: 124px;
  top: 228px;
}
.map__city:nth-child(27) {
  left: 102px;
  top: 139px;
}
// .currentCities {
//   position: absolute;
//   width: 1026px;
//   height: 728.42px;
//   left: 3px;
// }

.section-mission {
  width: 1250px;
  height: 471px;
  background: #a30c33;
  // opacity: 0.5;
}
.main__section-mission {
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-mission__left-pattern {
  // position: relative;
  width: 300.05px;
  height: 376.95px;
  // opacity: 0.4;
  background-image: url("../img/Left-pattern.svg");
  overflow: hidden;
}
.section-mission__right-pattern {
  // position: relative;
  width: 295.05px;
  height: 376.95px;
  background-image: url("../img/Right-pattern.svg");
  transform: scaleY(-1);
  transform: scaleX(1);
  overflow: hidden;
}
.section-mission__content {
  position: absolute;
  width: 1110px;
  height: 192px;
  left: 75px;
  top: 147px;
  z-index: 1;
}
.section-mission__tittle {
  margin: 0;
  background: none;
  background-color: none;
  width: 1089px;
  height: 56px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}
.section-mission__text {
  width: 1110px;
  background: none;
  background-color: none;
  height: 96px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */
  text-align: center;
  color: #ffffff;
}
.main__section-business-lines {
  margin-top: 100px;
}
.section-business-lines {
  width: 1250px;
  height: 936px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-business-lines__tittle {
  width: 890px;
  height: 56px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #444444;
}
.section-business-lines__content {
  // position: relative;
  width: 1250px;
  height: 825px;
  display: grid;
  grid-template-columns: repeat(2, 615px);
  grid-template-rows: repeat(3, 260px);
  // justify-items: center;
  align-content: flex-end;
  gap: 20px;
}
.section-business-lines__content-item {
  display: block;
  width: 615px;
  height: 260px;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.section-business-lines__content-item-text {
  display: flex;
  // display: none;
  align-items: center;
  width: 100%;
  height: 80px;
  background: rgba(#2d3653, 0.6);
  padding-left: 20px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.section-business-lines__content-item:nth-child(1) {
  background: url("../img/business-img1.svg");
}
.section-business-lines__content-item:nth-child(2) {
  background: url("../img/business-img2.svg");
}
.section-business-lines__content-item:nth-child(3) {
  background: url("../img/business-img3.svg");
}
.section-business-lines__content-item:nth-child(4) {
  background: url("../img/business-img4.svg");
}
.section-business-lines__content-item:nth-child(5) {
  background: url("../img/business-img5.svg");
}
.section-business-lines__content-item:nth-child(6) {
  background: url("../img/business-img6.svg");
}

.section-business-lines__content-item-text--hover {
  // display: block;
  // width: 615px;
  // height: 260px;
  // background: rgba(#2d3653,0.6);
  display: none;
}
.section-business-lines__content-item:hover {
  .section-business-lines__content-item-text--hover {
    display: block;
    width: 615px;
    height: 260px;
    background: rgba(#2d3653, 0.6);
  }
  .section-business-lines__content-item-text {
    display: none;
  }
}
.buisness-lines-item-tittle-hover {
  padding-left: 20px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.buisness-lines-item-text-hover {
  padding-left: 20px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #ffffff;
}
.section-benefits {
  width: 1110px;
  height: 856px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #ffffff;
  align-items: center;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
}
.main__section-benefits {
  margin-top: 100px;
}
.section-benefits__tittle {
  margin-top: 0px;
  width: 890px;
  margin-left: 25px;
  height: 56px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  // grid-row: 1/4;
}
// .section-benefits__first-blok {
//   display: grid;
//   grid-template-columns: repeat(5, 178px);
//   grid-template-rows: repeat(2, 200px);
//   // align-items: center;
//   // gap: 50px;
//   width: 958px;
//   height: 266px;
// }
.section-benefits__first-blok {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 958px;
  height: 266px;
}
.section-benefits__first-blok-content {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.section-benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0px;
  gap: 10px;
  grid-row: 2/4;
  width: 178px;
  height: 140px;
}
.section-benefits__img {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 0px;
  // gap: 10px;
  width: 110px;
  height: 110px;
}
.line {
  margin: 0;
  // margin-top: 93px;
  width: 1050px;
  left: 30px;
  top: 416px;
  opacity: 0.1;
  border: 1px solid #000000;
}
.section-benefits__second-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 25px;
  width: 755.47px;
  height: 290px;
}
.section-benefits__second-blok-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-benefits__second-blok-text-tittle {
  width: 755.47px;
  height: 48px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #444444;
}
.section-benefits__second-blok-text-content {
  width: 357px;
  height: 48px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #b01736;
}
.section-benefits__second-blok-items {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 490px;
  height: 140px;
}
.main__section-gallery {
  margin-top: 100px;
}
.section-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1110px;
  height: 980px;
  font-family: "Proxima Nova Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  color: #444444;
}
.section-gallery__head {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}
.section-gallery__buttons {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 132px;
  height: 56px;
}
.section-gallery__btn-left {
  cursor: pointer;
  background: url("../img/btn-left.svg");
  width: 56px;
  height: 56px;
  // background: #f0f0f0;
  border-radius: 64.2857px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.section-gallery__btn-right {
  cursor: pointer;
  background-image: url("../img/btn-left.svg");
  width: 56px;
  height: 56px;
  border-radius: 64.2857px;
}
.section-gallery__center {
  width: 1110px;
  height: 834px;
  background-image: url("../img/slider/noImg.png");
  background-repeat: no-repeat;
}
.section-gallery__bottom {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 1110px;
  height: 6px;
}
.pagination-item {
  cursor: pointer;
  width: 214px;
  height: 6px;
  background: #000000;
  opacity: 0.1;
}
.active-pagination {
  width: 214px;
  height: 6px;
  background: #a30c33;
  opacity: 1;
}
.inDev{
  display: none;
}